<div class="header">
    <p>ფორმა 050_ექსპორტირებული სასწავლო მასალის მიწოდების ფორმა</p>
    <p>Form 050_Delivery Receipt Form of Exported Study Materials</p>
</div>
<hr>
<div class="fieldsets">
    <div class="fieldset1">
        <fieldset>
            <legend><b>გამგზავნი/Sender</b></legend>
            <p><b>სახელი/Name :</b> {{exportedStudyMaterialObject.sender}}</p>
            <p><b>მისამართი/Address :</b> {{exportedStudyMaterialObject.senderAddress}}</p>
            <p><b>ტელეფონი/Phone :</b> {{exportedStudyMaterialObject.senderPhone}}</p>
        </fieldset>
    </div>
    <div class="fieldset1">
        <fieldset>
            <legend><b>მიმღები/Recipient</b></legend>
            <p><b>სახელი/Name :</b> {{exportedStudyMaterialObject.recipient}}</p>
            <p><b>მისამართი/Address :</b> {{exportedStudyMaterialObject.recipientAddress}}</p>
            <p><b>ტელეფონი/Phone :</b> {{exportedStudyMaterialObject.recipientPhone}}</p>
        </fieldset>
    </div>
</div>

<div fxLayout="row">
    <div fxFlex="50">
        <div class="container">
            <div class="logo">
                <img src="../../../../assets//images/edit2.png" alt="logo">
                <h5>Trust and save your time</h5>
            </div>
        </div>
        <div class="geostorage">
            <p>გეოსატორაჟი / Geostorage</p>
        </div>
    </div>
</div>

<div class="info">
    <tr>
        <td><b>ადგილობრივი ინვოისი #<br>Local invoice #</b></td>&nbsp;&emsp;&nbsp;&emsp;&nbsp;&emsp;&nbsp;&emsp;
        <td>{{exportedStudyMaterialObject.localInvoice}}</td>
    </tr><br>
    <tr>
        <td><b>AWB</b></td>&nbsp;&emsp;&nbsp;&emsp;&nbsp;&emsp;&nbsp;&emsp;&nbsp;&emsp;&nbsp;&emsp;&nbsp;&emsp;&nbsp;
        <td>{{exportedStudyMaterialObject.AWB}}</td>
    </tr>
</div>

<div>
    <p-table #dt [columns]="columns" [value]="array" [style]="{'width':'100%','overflow':'auto!important'}">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <ng-container *ngFor="let col of columns">
                    <th style="font-size: 12px;">
                        <b>{{ col.label | translate }}</b>
                    </th>
                </ng-container>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-exportedStudyMaterialObjectItem>
            <tr *ngFor="let item of exportedStudyMaterialObjectItem.study_material_exported_list
            let indexOfelement=index;" [style]="{'font-size': '13px'}">
                <td [style]="{'text-align':'center'}">{{indexOfelement + 1}}</td>
                <td>{{item.productName}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.batch_no}}</td>
                <td>{{item.serial_no}}</td>
                <td>{{item.validity}}</td>
                <td>{{item.temp}}</td>
                <td>{{item.export_date}}</td>
                <td>{{item.comment}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<hr>

<div class="fieldsets">
    <div class="fieldset1">
        <fieldset>
            <div class="info">
                <tr>
                    <td><b>სპონსორი<br>Sponsor </b></td>&nbsp;&emsp;&nbsp;&emsp;&nbsp;&emsp;&nbsp;
                    <td>{{exportedStudyMaterialObject.sponsorName}}</td>
                </tr><br>
                <tr>
                    <td><b>პროექტი #<br>Project #</b></td>&nbsp;&emsp;&nbsp;&emsp;&nbsp;&emsp;&nbsp;&nbsp;&nbsp;
                    <td>{{exportedStudyMaterialObject.projectName}}</td>
                </tr><br>
            </div>
        </fieldset>
    </div>
    <div class="fieldset1">
        <fieldset>
            <div class="info">
                <tr>
                    <td><b>წონა<br>Weight </b></td>
                    &nbsp;&emsp;&nbsp;&emsp;&nbsp;&emsp;&nbsp;&emsp;&nbsp;&emsp;&nbsp;&nbsp;&nbsp;
                    <td>{{exportedStudyMaterialObject.Weight}}</td>
                </tr><br>
                <tr>
                    <td><b>ზომა <br>Size </b></td>
                    &nbsp;&emsp;&nbsp;&emsp;&nbsp;&emsp;&nbsp;&emsp;&nbsp;&emsp;&nbsp;&nbsp;&nbsp;&emsp;&nbsp;&nbsp;
                    <td>{{exportedStudyMaterialObject.Size}}</td>
                </tr><br>
            </div>
        </fieldset>
    </div>
</div>

<div class="pageBreak">
</div>

<div class="footerTop">
    <p>ინვოისი / Invoice - {{this.exportedStudyMaterialObject['localInvoice']}}</p>
    <p>დამატებითი ინფორმაცია / Additional Information</p>
</div>
<hr>

<div style='margin-bottom: 1px' class="footerBody">
    <p><b>კურიერი / Courier :</b> &emsp;{{exportedStudyMaterialObject['Courier']}} , <b>ხელმოწერა / Signature :________________________</b></p>
    <p><b>საწყობი / Warehouse :</b> &emsp;{{exportedStudyMaterialObject['WareHouse']}} <b>, ხელმოწერა / Signature : ________________________</b></p>
    <p>
        <b>გატანა თარიღი / Withdrawal date :</b> {{exportedStudyMaterialObject.withdrawalDate | date: 'yyyy-MM-dd'}}
        <b>, დრო/Time:</b>{{this.exportedStudyMaterialObject['withdrawalDate'] | date: 'hh:mm:ss a'}}
    </p>

    <p><b>გადამოწმება / Verification :</b> &emsp;{{this.exportedStudyMaterialObject['Verification']}} <b>, ხელმოწერა /
            Signature :</b>________________________</p>

    მიღებული პროდუქტი დაზიანებულია? (დიახ/არა) თუ „დიახ“ აღწერეთ/Is received product damaged?(Yes/No) if 'Yes' Describe:
    <hr>
    <p class="footer-text" style="font-size: 13px;">
        ამ გადაზიდვის შინაარსი გამოვლენილია მხოლოდ კლინიკური კვლევის გამოყენებისათვის და უნდა იქნას გამოყენებული მხოლოდ
        კლინიკურ კვლევებში ჩარიცხული პაციენტების მკურნალობისთვის. არ არის კომერციული ღირებულება. არა იყიდება ან იყიდება.
        გადაზიდვა უფასოდ უნდა გადაეცეს
    </p>
    <p style="word-spacing:1px; font-size: 13px;">
        The content of this shipment is identified for clinical trial use only and must be used solely for the treatment
        of patients enrolled in clinical trials. No commercial value. Not for sale or resale. Shipment must be hand
        overed on free of charge basis
    </p>
    <p style="word-spacing:1px; font-size: medium;">
        სსპ/SOP-02, ვერსია/Version-02, ფორმა/Form-050
    </p>
</div>
<hr class="border">

<div class="footerFooter">
    <div class="english">
        GeoStorage LTD<br>
        G. Akhvlediani str. Building #3 Tbilisi,0109,Georgia.<br>
        Contact person Tea Butskhrikidze<br>
        phone : +995599 488008; +99532 2768970<br>
        Fax : +99532 2768970<br>
        Email: tea.butskhrikidze@storagegeo.com<br>
    </div>
    <div class="georgian">
        შპს ჯეოსტორაჟი<br>
        გ. ახვლედიანის ქ. შენობა #3 თბილისი, 0109, საქართველო.<br>
        საკონტაქტო პირი თეა ბუცკრიკიძე<br>
        ტელეფონი : +995599 488008; +99532 2768970<br>
        ფაქსი : +99532 2768970<br>
        ელ.ფოსტა: tea.butskhrikidze@storagegeo.com
    </div>
</div>