<div class="page login_body">
    <div class="main-container">
        <div class="form-container">
            <form [formGroup]="resetForm" (submit)="submitHandler()">
                <div class="field_body">
                    <div class="email">
                        <label for="email">Email</label>
                        
                        <input id="email" formControlName="email" type="text" placeholder="Email address" pInputText>
                    </div>
                    
                    <button pButton pRipple label="Submit" class=""></button>
                </div>
            </form>
        </div>
    </div>
</div>