<hr>
<div class="fieldsets">
    <div class="fieldset1">
        <fieldset>
            <legend><b> თაროდან / From Zone </b></legend>
            <div class="contents">
                <p>{{zoneObject.fromZoneName}}</p>
            </div>
        </fieldset>
    </div>
    <div class="fieldset1">
        <fieldset>
            <legend><b> თაროზე / To Zone </b></legend>
            <div class="contents">
                <p>{{zoneObject.toZoneName}}</p>
            </div>
        </fieldset>
    </div>
</div>
<div class="container">
    <div class="logo">
        <img src="../../../../assets//images/edit2.png" alt="logo">
        <h5>Trust and save your time</h5>
    </div>
</div>
<div class="geostorage">
    <p>გეოსაცავი / Geostorage</p>
</div>

<div class="document">
    <div class="document-right">
        <p>დოკუმენტი#</p>
        <p>Document#</p>
    </div>&nbsp;&emsp;&nbsp;&emsp;
    <div class="document-left">
        {{zoneObject.document}}
    </div>
</div>
<div>
    <p-table #dt [columns]="columns" [value]="array">
        <ng-template pTemplate="caption">
            <div fxLayout="row" fxLayoutAlign="space-between center">
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <ng-container *ngFor="let col of columns">
                    <th [pSortableColumn]="col.field" class="border border-dark">
                        {{ col.label | translate }}
                    </th>
                </ng-container>
                <th pFrozenColumn alignFrozen="right" [frozen]="true"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-zoneToZoneObjectItem>
            <tr *ngFor="let item of zoneToZoneObjectItem.zone_to_zone_list let indexOfelement=index;">
                <td>{{indexOfelement + 1}}</td>
                <td>{{item.product_id__product_name}}</td>
                <td>{{item.received_qty}}</td>
                <td>{{item.batchNumber}}</td>
                <td>{{item.serialNumber}}</td>
                <td>{{zoneObject.toZoneName}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<hr>
<div class="pageBreak">
</div>