<!-- <hr>
<div class="footerTop">
    <p>ინვოისი / Invoice - Test Num</p>
    <p>დამატებითი ინფორმაცია / Additional Information</p>
</div>
<hr> -->
<!-- <div class="footerBody">
    <p>კურიერი / Courier :________________________ , ხელმოწერა / Signature : ________________________</p>
    <p style="word-spacing:5px;">მიღებული თარიღი / Received date : 2022-11-26 , დრო / Time :____:____:____</p>
    <p>
        ამ გადაზიდვის შინაარსი გამოვლენილია მხოლოდ კლინიკური კვლევის გამოყენებისათვის და უნდა იქნას გამოყენებული მხოლოდ
        კლინიკურ კვლევებში ჩარიცხული პაციენტების მკურნალობისთვის. არ არის კომერციული ღირებულება. არა იყიდება ან იყიდება.
        გადაზიდვა უფასოდ უნდა გადაეცეს
    </p>
    <p style="word-spacing:5px;">
        The content of this shipment is identified for clinical trial use only and must be used solely for the treatment
        of patients enrolled in clinical trials. No commercial value. Not for sale or resale. Shipment must be hand
        overed on free of charge basis
    </p>
    <p style="word-spacing:5px; font-size: medium;">
        სუპი / SOP-03 , ვერსია / Version-03, ფორმა / Form-005 26-11-2022
    </p>

    <hr>

</div> -->
<div class="footerFooter">
    <div class="english">
        GeoStorage LTD<br>
        G. Akhvlediani str. Building #3 Tbilisi,0109,Georgia.<br>
        Contact person Tea Butskhrikidze<br>
        phone : +995599 488008; +99532 2768970<br>
        Fax : +99532 2768970<br>
        Email: tea.butskhrikidze@storagegeo.com<br>
    </div>
    <div class="georgian">
        შპს ჯეოსტორაჟი<br>
        გ. ახვლედიანის ქ. შენობა #3 თბილისი, 0109, საქართველო.<br>
        საკონტაქტო პირი თეა ბუცკრიკიძე<br>
        ტელეფონი : +995599 488008; +99532 2768970<br>
        ფაქსი : +99532 2768970<br>
        ელ.ფოსტა: tea.butskhrikidze@storagegeo.com
    </div>
</div>