* {
    color: black;
}

.footerTop {
    text-align: center;
    font-size: large;
    font-weight: bold;

}

.footerBody {
    word-spacing: 12px;
}

.footerFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .english {
        font-size: 10px;
        display: flex;
        width: 50%;
    }

    .georgian {
        flex: 1;
        font-size: 10px;
        // margin-left: 30%;
    }
}