.company-main-container {
    button {
        margin: 2px;
    }
    tr {
        th, td:not(.p-frozen-column) {
            width: 220px;
        }
        td {
            .true-icon {
                color: var(--green-500);
            }
            .false-icon {
                color: var(--red-600);
            }
        }
    }
}

// .company-log-container {
//     button {
//         margin: 2px;
//     }
//     tr {
//         th, td:not(.p-frozen-column) {
//             width: 200px;
//         }
//         td {
//             .true-icon {
//                 color: var(--green-500);
//             }
//             .false-icon {
//                 color: var(--red-600);
//             }
//         }
//     }
// }