.table-container {
    th {
        width: 218px;
        justify-content: center;
    }
    td{
        justify-content: center; 
    }
    .table-footer {
        background-color: #ddd;
    }
}
button:disabled {
    cursor: not-allowed;
}

::ng-deep tbody.p-element.p-datatable-tbody {
    min-height: calc(100vh - 380px);
}
::ng-deep tfoot.p-datatable-tfoot {
    background-color: #ddd !important;
}

::ng-deep .p-inputtext.ng-invalid, .p-inputNumber.ng-invalid {
    border-color: var(--red-500);
}

::ng-deep .p-inputtext.ng-invalid:hover, .p-inputNumber.ng-invalid:hover {
    border-color: var(--red-500);
}

.table-caption {
    display: flex;
    align-items: center;
    justify-content: space-between;
}