<div [formGroup]="form">
  <p-dropdown appendTo="body" [autoDisplayFirst]="false" [options]="field?.options" [id]="field?.label" [name]="field?.name"
    [formControlName]="field?.name" [optionLabel]="field?.optionLabel" [optionValue]="field?.optionValue"
    [filter]="true" [filterBy]="field?.optionLabelList?.length ? field?.optionLabelList.toLocaleString() : field?.optionLabel" [showClear]="true" [placeholder]="field?.placeholder"
    [virtualScroll]="true" [itemSize]="50" [style]="{'width': field?.dialogue ? '90%' : '100%'}" (onChange)="onChangeHandler($event)"
    [readonly]="field?.readonly">
    <!-- <ng-template *ngIf="field?.optionLabelList" pTemplate="selectedItem">
		<div class="item-item item-item-value" *ngIf="field?.value">
			<div>{{getDropDownText(field?.value)}}</div>[required]="field?.required"
		</div>
	</ng-template> -->
    <ng-template pTemplate="selectedItem">
      <div class="item-item item-item-value" *ngIf="!field?.value">
        <div>--</div>
      </div>
      <div class="item-item item-item-value" *ngIf="field?.value">
        <div>{{getDropDownText(field?.value)}}</div>
      </div>
    </ng-template>
    <ng-template *ngIf="!field?.optionLabelList" let-item pTemplate="item">
      <div class="item-item">
        <div>{{item[field?.optionLabel]}}</div>
      </div>
    </ng-template>
    <ng-template *ngIf="field?.optionLabelList" let-item pTemplate="item">
      <div class="item-item">
        <div>{{getOptionValue(item, field?.optionLabelList)}}</div>
      </div>
    </ng-template>
  </p-dropdown>
  <button pButton [style]="{'width':'10%'}" icon="pi pi-plus" type="button" (click)="showDialog()" *ngIf="field?.dialogue"></button>
  <div *ngIf="inValid && (isDirty || isTouched)" class="p-error block">
    <small *ngIf="isError" >{{errorText}}</small> 
  </div>
  <div *ngIf="field?.dialogue">
    <p-dialog [modal]="true" [appendTo]="'body'" [dismissableMask]="true" header="{{field.dialogueLabel}}" [(visible)]="display" (visibleChange)="handleDialogue($event)" [style]="{width: '90vw', height: '90vh'}">
      <dynamic-form-builder [fields]="field.dialogueFields" (onSubmit)="saveDialogueData($event)"></dynamic-form-builder>
    </p-dialog>
  </div>
</div>
