.header {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 25px;
    word-spacing: 12px;
    width: 80%;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    margin-left: 10%; 

    // background-image: url("../../../../assets/images/OIP.jfif");
}

