.company-main-container {
    button {
        margin: 2px;
    }
    tr {
        th, td:not(.p-frozen-column) {
            width: 250px;
        }
        td {
            .true-icon {
                color: var(--green-500);
            }
            .false-icon {
                color: var(--red-600);
            }
        }
    }
}