<div class="header">
    <p>ფორმა 064_მედდის ტრანსპორტირება ადგილიდან პაციენტზე</p>
    <p>Form 064_Nurse transportation from site to patient</p>
</div>
<hr>
<div class="fieldsets">
    <div class="fieldset1">
        <fieldset>
            <legend><b>საიტიდან/From Site</b></legend>
            <p><b>სახელი/Name :</b> {{nurseToPatientObject.site}}</p>
            <p><b>მისამართი/Address :</b> {{nurseToPatientObject.siteAddress}}</p>
            <p><b>ტელეფონი/Phone :</b> {{nurseToPatientObject.sitePhone}}</p>
        </fieldset>
    </div>
    <div class="fieldset1">
        <fieldset>
            <legend><b>პაციენტს/To patient</b></legend>
            <p><b>სახელი/Name :</b> {{nurseToPatientObject.patient}}</p>
            <p><b>მისამართი/Address :</b> {{nurseToPatientObject.patientAddress}}</p>
            <p><b>ტელეფონი/Phone :</b> {{nurseToPatientObject.patientPhone}}</p>
        </fieldset>
    </div>
</div>

<div fxLayout="row" style="margin-top: 20px;">
    <div fxFlex="50">
        <div class="container">
            <div class="logo">
                <img src="../../../../assets//images/edit2.png" alt="logo">
                <h5>Trust and save your time</h5>
            </div>
        </div>
        <div class="geostorage">
            <p>გეოსატორაჟი / Geostorage</p>
        </div>
    </div>
    <div class="info">
        <tr>
            <td><b>დოკუმენტი #<br>Document #</b></td>&nbsp;&emsp;&nbsp;&emsp;&nbsp;&emsp;&nbsp;&emsp;&nbsp;&emsp;
            <td style="margin-bottom: 5px;">{{nurseToPatientObject.Document}}</td>
        </tr><br>
        <tr>
            <td><b>სპონსორი<br>Sponsor</b></td>&nbsp;&emsp;&nbsp;&emsp;&nbsp;&emsp;&nbsp;&nbsp;&emsp;
            <td>{{nurseToPatientObject.sponsorName}}</td>
        </tr><br>
        <tr>
            <td><b>პროტოკოლი #<br>Protocol #</b></td>&nbsp;&emsp;&nbsp;&emsp;&nbsp;&emsp;
            <td>{{nurseToPatientObject.Protocol}}</td>
        </tr><br>
        <tr>
            <td><b>პროექტი #<br>Project #</b></td>&nbsp;&emsp;&nbsp;&emsp;&nbsp;&emsp;&nbsp;&emsp;&nbsp;&emsp;&nbsp;&emsp;&nbsp;&emsp;
            <td>{{nurseToPatientObject.projectName}}</td>
        </tr>
    </div>
</div>

<div class="pageBreak">
</div>

<div class="footerTop">
    <p>ინვოისი / Invoice - {{this.nurseToPatientObject['Invoice']}}</p>
    <p>დამატებითი ინფორმაცია / Additional Information</p>
</div>
<hr>

<div style='margin-bottom: 1px; font-size: 13px;' class="footerBody">
    <p ><b>კურიერი / Courier :</b> &emsp;________________________  , <b>ხელმოწერა / Signature : ________________________</b></p>
        <p><b>ტრანსპორტის დაწყების დრო / Transportation Start Time : &emsp;________________________ </b></p>

        <p><b>მედდა / Nurse :</b> &emsp; ________________________ , <b>ხელმოწერა / Signature : ________________________</b></p>
        <p><b>პროცედურის დაწყების დრო / Procedure Start Time : &emsp;________________________ </b></p>
        <p><b>პაციენტი / Patient :</b> &emsp; ________________________ ,<b>ხელმოწერა / Signature : ________________________</b></p>
        <p><b>პროცედურის Დასასრული დრო / Procedure End Time : &emsp;________________________ </b></p>

        <p><b>მედდა / Nurse : &emsp; ________________________ ,</b> <b>ხელმოწერა / Signature : ________________________</b></p>
        <p ><b>კურიერი / Courier :</b> &emsp;________________________  , <b>ხელმოწერა / Signature : ________________________</b></p>
        <p><b>მედდა მიტანის დრო / Nurse Delivery Time : &emsp; ________________________ </b></p>

        <hr>
        <p style="word-spacing:1px; font-size: medium;">
        სსპ/SOP-32, ვერსია/Version-01, ფორმა/Form-064
        </p>
</div>
<hr class="border">

<div class="footerFooter">
    <div class="english">
        GeoStorage LTD<br>
        G. Akhvlediani str. Building #3 Tbilisi,0109,Georgia.<br>
        Contact person Tea Butskhrikidze<br>
        phone : +995599 488008; +99532 2768970<br>
        Fax : +99532 2768970<br>
        Email: tea.butskhrikidze@storagegeo.com<br>
    </div>
    <div class="georgian">
        შპს ჯეოსტორაჟი<br>
        გ. ახვლედიანის ქ. შენობა #3 თბილისი, 0109, საქართველო.<br>
        საკონტაქტო პირი თეა ბუცკრიკიძე<br>
        ტელეფონი : +995599 488008; +99532 2768970<br>
        ფაქსი : +99532 2768970<br>
        ელ.ფოსტა: tea.butskhrikidze@storagegeo.com
    </div>
</div>