<div class="page company-main-container" fxLayout="column" fxLayoutGap="5px">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="{{'new_TC' | translate}}" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="showStudyMaterialDeliveryModifier = true"></button>
        </ng-template>
        <ng-template pTemplate="right">
            <button pButton pRipple label="{{ 'export_TC' | translate}}" icon="pi pi-upload" class="p-button-help"(click)="export(dt)"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [columns]="columns" [value]="materialDeliveryList" [rows]="10" [paginator]="true" 
    [globalFilterFields]="['Invoice', 'Weight', 'Size', 'projectName', 'boxQuantity', 'supplier', 'recipient']"
        [(selection)]="selectedMaterialDelivery" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="{{translate.instant('entityTablePage_TC', {first: '{first}', last: '{last}', totalRecords: '{totalRecords}'})}}" [showCurrentPageReport]="true"
        [scrollable]="true" scrollHeight="400px" scrollDirection="both">
        <ng-template pTemplate="caption">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <h3 class="p-m-0">{{ getTitlePage() }}</h3>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="globalSearch($event, dt)" placeholder="{{ 'search_TC' | translate}}" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 3rem" pFrozenColumn>
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <ng-container *ngFor="let col of columns" >
                    <th [pSortableColumn]="col?.field">
                        {{ col?.label | translate }} <p-sortIcon [field]="col?.field"></p-sortIcon>
                        <p-columnFilter type="text" [field]="col?.field" display="menu"></p-columnFilter>
                    </th>
                </ng-container>
                <th pFrozenColumn alignFrozen="right" [frozen]="true"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-studyMaterialItem>
            <tr>
                <td pFrozenColumn>
                    <p-tableCheckbox [value]="studyMaterialItem"></p-tableCheckbox>
                </td>
                <td>{{studyMaterialItem.supplier}}</td>
                <!-- <td>{{studyMaterialItem.supplierAddress }}</td> -->
                <!-- <td>{{studyMaterialItem.supplierPhone}}</td> -->
                <td>{{studyMaterialItem.recipient}}</td>
                <!-- <td>{{studyMaterialItem.recipientAddress}}</td> -->
                <!-- <td>{{studyMaterialItem.recipientPhone }}</td> -->
                <td>{{studyMaterialItem.Invoice}}</td>
                <!-- <td>{{studyMaterialItem.localInvoice }}</td> -->
                <!-- <td>{{studyMaterialItem.orderNumber}}</td> -->
                <!-- <td>{{studyMaterialItem.Sponsor}}</td> -->
                <!-- <td>{{studyMaterialItem.Protocol}}</td> -->
                <td>{{studyMaterialItem.projectName }}</td>
                <td>{{studyMaterialItem.Weight}}</td>
                <td>{{studyMaterialItem.Size}}</td>
                <td>{{studyMaterialItem.boxQuantity}}</td>
                <td pFrozenColumn alignFrozen="right" [frozen]="true">
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editMaterialDelivery(studyMaterialItem)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteStudyMaterialDelivery($event, studyMaterialItem)"></button>
                    <p-confirmPopup [key]="'deleteItem'"></p-confirmPopup>
                    <button pButton pRipple icon="pi pi-print" class="p-button-rounded p-button-info"
                    (click)="printStudyMaterialDelivery(studyMaterialItem)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                {{'entityTableFooter_TC' | translate}} {{materialDeliveryList ? materialDeliveryList.length : 0 }} {{'studyMaterialDelivery_TC' | translate}}.
            </div>
        </ng-template>
    </p-table>
</div>
<p-sidebar [(visible)]="showStudyMaterialDeliveryModifier" [fullScreen]="true" [baseZIndex]="10000" (onHide)="clearStudyMaterialDelivery()">

    <h1 style="font-weight:normal">{{ getTitleModifier() }}</h1>
    <dynamic-form-builder [fields]="getFields()" (onSubmit)="saveStudyMaterialDelivery($event)"></dynamic-form-builder>

</p-sidebar>
<p-sidebar [(visible)]="showStudyMaterialDeliveryPrintModifier" [fullScreen]="true" [baseZIndex]="10000">
    <app-receipt-builder [fields]="getPrintFields()"></app-receipt-builder>
</p-sidebar>