<div class="page company-main-container" fxLayout="column" fxLayoutGap="5px">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="{{'new_TC' | translate}}" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="showproformaKitCreationModifier = true"></button>
        </ng-template>
        <ng-template pTemplate="right">
            <button pButton pRipple label="{{ 'export_TC' | translate}}" icon="pi pi-upload" class="p-button-help"(click)="export(dt)"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [columns]="columns" [value]="proformaKitCreationList" [rows]="10" [paginator]="true" 
    [globalFilterFields]="['projectName','kitName','kitQTY','kitValue']"
        [(selection)]="selectedproformaKitCreation" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="{{translate.instant('entityTablePage_TC', {first: '{first}', last: '{last}', totalRecords: '{totalRecords}'})}}" [showCurrentPageReport]="true"
        [scrollable]="true" scrollHeight="400px" scrollDirection="both">
        <ng-template pTemplate="caption">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <h3 class="p-m-0">{{ getTitlePage() }}</h3>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="globalSearch($event, dt)" placeholder="{{ 'search_TC' | translate}}" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 3rem" pFrozenColumn>
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <ng-container *ngFor="let col of columns" >
                    <th [pSortableColumn]="col?.field">
                        {{ col?.label | translate }} <p-sortIcon [field]="col?.field"></p-sortIcon>
                        <p-columnFilter type="text" [field]="col?.field" display="menu"></p-columnFilter>
                    </th>
                </ng-container>
                <th pFrozenColumn alignFrozen="right" [frozen]="true"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-kitCreationItem>
            <tr>
                <td pFrozenColumn>
                    <p-tableCheckbox [value]="kitCreationItem"></p-tableCheckbox>
                </td>
                <td>{{kitCreationItem.projectName}}</td>
                <td>{{kitCreationItem.kitName}}</td>
                <td>{{kitCreationItem.kitQTY}}</td>
                <td>{{kitCreationItem.kitValue}}</td>
             
                <td pFrozenColumn alignFrozen="right" [frozen]="true">
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editKitCreation(kitCreationItem)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteKitCreation($event, kitCreationItem)"></button>
                    <p-confirmPopup [key]="'deleteItem'"></p-confirmPopup>
                
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                {{'entityTableFooter_TC' | translate}} {{proformaKitCreationList ? proformaKitCreationList.length : 0 }} {{'proformKitCreation_TC' | translate}}.
            </div>
        </ng-template>
    </p-table>
</div>

<p-sidebar [(visible)]="showproformaKitCreationModifier" [fullScreen]="true" [baseZIndex]="10000" (onHide)="clearKitCreation()">

    <h1 style="font-weight:normal">{{ getTitleModifier() }}</h1>
    <dynamic-form-builder [fields]="getFields()" (onSubmit)="saveProformaKitCreation($event)" ></dynamic-form-builder>

</p-sidebar>

